#  Upserver Javascript Client


## How to install

### Via NPM

Install from Aceso NPM repo.

In this case it is advised to use un-minified version and use webpack to bundle into
your application.

```
npm install jquery --save
npm install upserver-client
```

#### Use Require JS
```
var upserver = require('upserver-client');
```

#### Use ES2015
```
import upserver from 'upserver-client';
```

### Via HTML

In this case use regular way to include the minified version.  There is no need to include signalR libraries and signalR
dynamic Hub as everything is bundled in the upserver.min.js already.

```
<script src="../your/path/to/the/jquery.min.js"></script>
<script src="../your/path/to/the/upserver.min.js"></script>
```

##  How to use

```
upserver.init({
    host: 'http://localhost:50021',
        clientId: 'Uhw1Homh00ViVzudgb4yoVYh4sOfpcPgMEhTxDJk16zvpPfAfu41DbqjCu4NDJuyFHeZ25zRC4xbpKvH',
        deviceId: '0021F8034F72'
    })
    .done(function () {
        console.log('server authentication ok');

        if (upserver.signalR.enabled) {
            console.log('connected to server');
        }
        else {
            console.log('failed to connect');
        }
    })
    .fail(function () {
        console.log('server authentication failed');
    });
```

## API Reference
{{#module name="upserver-client"~}}
    {{>body~}}
    {{>member-index~}}
    {{>separator~}}
    {{>members~}}
{{/module}}

* * *
